@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

    <div class="justify-content-xl-center">
        <img src="~/lib/Images/BuckingBronco.png" />
        <h2 class="text-danger">Whoops partner, you just got bucked off by an error!</h2>
    </div>

