@page
@model IndexModel
@using CowboyCafe.Data;

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Cowboy Cafe</h1>
    <h3>Yeehaw!</h3>

    <p></p>
    <aside><img src="~/lib/Images/Chuckwagon_Texas_1900.jpg" /></aside>
    
    <p></p>

    <p>
        We at Cowboy Cafe are proud to bring you authentic trail meals from the American West. 
        Shake off the dust on your boots and sake your thirst with one of our old-fashioned hand-jerked sodas.
        Dip your Pan de Campo into a bowl of beans.
        Or conquer the the mighty Texas Triple Burger! 
        You’ve had a hard ride - so take it easy with us.
    </p>

    <div>
        @if (Model.completeMenu.Count() == 0)
        {
            <h6>"No soup for you."</h6>
            <p> Sorry, there are no items available at this moment.</p>
            <img src="~/lib/Images/nosoup.jpg" />
        }
        else

        <div class="float-columns">
            <div>
                <h2>Entrees</h2>
                <p>
                    @foreach (IOrderItem entree in @Model)
                    {
                    }
                </p>
            </div>
            <div>
                <h2>Sides</h2>
                <p>

                </p>
            </div>
            <div>
                <h2>Drinks</h2>
                <p>

                </p>
            </div>

        </div>
        <div class="clearfix" />
    </div>

</div>
